In [1]:
"""
In this notebook i apply simple LSTM architecture to a classification problem.

"""
import torch
import torch.nn as nn
import pandas as pd
import numpy as np
import re
import spacy
import jovian
from collections import Counter
from torch.utils.data import Dataset, DataLoader
import torch.nn.functional as F
import string
from torch.nn.utils.rnn import pack_padded_sequence, pad_packed_sequence
from sklearn.metrics import mean_squared_error

In [2]:
#loading the data
reviews = pd.read_csv("D:/data7/Womens Clothing E-Commerce Reviews.csv")

In [3]:
print(reviews.shape)
reviews.head()

(23486, 11)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
#check nulls
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [5]:
#fill nulls
cols = ['Title','Review Text']
for  col in cols:
    reviews[col] = reviews[col].fillna("")

In [6]:
#check nulls again
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    23486 non-null  object
 4   Review Text              23486 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [7]:
reviews['review'] = reviews['Title'] + ' ' + reviews['Review Text']
reviews.head(5)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,review
0,0,767,33,,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,Absolutely wonderful - silky and sexy and com...
1,1,1080,34,,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,Love this dress! it's sooo pretty. i happen...
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,Some major design flaws I had such high hopes ...
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,"My favorite buy! I love, love, love this jumps..."
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,Flattering shirt This shirt is very flattering...

In [46]:
#get a slice of data
review_rating = reviews[['review', 'Rating']]

In [47]:
review_rating.head(3)

                                              review  Rating
0   Absolutely wonderful - silky and sexy and com...       4
1   Love this dress!  it's sooo pretty.  i happen...       5
2  Some major design flaws I had such high hopes ...       3

In [48]:
#normalize rating beginning index from 0
review_rating['Rating'] = review_rating['Rating'].apply(lambda x: x - 1)

C:\Users\mcelikkaya\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
review_rating.head(3)

                                              review  Rating
0   Absolutely wonderful - silky and sexy and com...       3
1   Love this dress!  it's sooo pretty.  i happen...       4
2  Some major design flaws I had such high hopes ...       2

In [14]:
#tokenization
#tok = spacy.load('en')
tok = spacy.load("en_core_web_sm")

In [15]:

def tokenize (text):
    text = re.sub(r"[^\x00-\x7F]+", " ", text)
    regex = re.compile('[' + re.escape(string.punctuation) + '0-9\\r\\t\\n]') # remove punctuation and numbers
    nopunct = regex.sub(" ", text.lower())
    return [token.text for token in tok.tokenizer(nopunct)]

In [16]:
#count number of occurences of each word
counts = Counter()
for index, row in reviews.iterrows():
    counts.update(tokenize(row['review']))

In [17]:
#deleting infrequent words
print("num_words before:",len(counts.keys()))
deleted_words = []
for word in list(counts):
    if counts[word] < 2:
        deleted_words.append(word)
        del counts[word]
print("num_words after:",len(counts.keys()))
print("deleted_words ",deleted_words[0:10])

num_words before: 14138
num_words after: 8263
deleted_words  ['narrowing', 'cagrcoal', 'aded', 'mintue', 'darkler', 'mathced', 'everythiing', 'msallet', 'jkeep', 'matvehd']

In [18]:
#creating vocabulary
vocab2index = {"":0, "UNK":1}
words = ["", "UNK"]
for word in counts:
    vocab2index[word] = len(words)
    words.append(word)

In [19]:
print( list( vocab2index.keys() )[0:10] )
print( list( vocab2index.values() )[0:10] )

['', 'UNK', ' ', 'absolutely', 'wonderful', '  ', 'silky', 'and', 'sexy', 'comfortable']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
def encode_sentence(text, vocab2index, N=70):
    tokenized = tokenize(text)
    #generate an array of N zeros
    encoded = np.zeros(N, dtype=int)
    #find indexes of words for encoding
    enc1 = np.array([vocab2index.get(word, vocab2index["UNK"]) for word in tokenized])
    
    length = min(N, len(enc1))
    #copy part of encoding into arrays of 0
    encoded[:length] = enc1[:length]
    return encoded, length

In [21]:
print( encode_sentence("test sentence",vocab2index) )
#xxx and yy are not embeddings so they must be 1
print( encode_sentence("xxx yy",vocab2index) )

(array([5068, 6802,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0]), 2)
(array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0]), 2)

In [22]:
review_rating['encoded'] = review_rating['review'].apply(lambda x: np.array(encode_sentence(x,vocab2index )))
review_rating.head()

C:\Users\mcelikkaya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,review,Rating,review_len,encoded
0,Absolutely wonderful - silky and sexy and com...,3,8,"[[2, 3, 4, 5, 6, 7, 8, 7, 9, 0, 0, 0, 0, 0, 0,..."
1,Love this dress! it's sooo pretty. i happen...,4,62,"[[2, 10, 11, 12, 5, 13, 14, 15, 16, 5, 17, 18,..."
2,Some major design flaws I had such high hopes ...,2,102,"[[54, 55, 56, 57, 17, 58, 59, 60, 61, 62, 11, ..."
3,"My favorite buy! I love, love, love this jumps...",4,25,"[[68, 109, 110, 2, 17, 10, 2, 10, 2, 10, 11, 1..."
4,Flattering shirt This shirt is very flattering...,4,38,"[[122, 123, 11, 123, 52, 92, 122, 19, 124, 125..."

In [23]:
#check how balanced the dataset is
Counter(review_rating['Rating'])

Counter({3: 5077, 4: 13131, 2: 2871, 1: 1565, 0: 842})

In [24]:
X = list(review_rating['encoded'])
y = list(review_rating['Rating'])
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2)

In [25]:
class ReviewsDataset(Dataset):
    def __init__(self, X, Y):
        self.X = X
        self.y = Y
        
    def __len__(self):
        return len(self.y)
    
    def __getitem__(self, idx):
        return torch.from_numpy(self.X[idx][0].astype(np.int32)), self.y[idx], self.X[idx][1]

In [34]:
train_ds = ReviewsDataset(X_train, y_train)
valid_ds = ReviewsDataset(X_valid, y_valid)

In [35]:
batch_size = 5000
vocab_size = len(words)
train_dl = DataLoader(train_ds, batch_size=batch_size, shuffle=True)
val_dl = DataLoader(valid_ds, batch_size=batch_size)

In [36]:
"""
A utility class to log all the sub steps of a
pytorch calculation.
Usage is sending data with label.
If data send is torch tensor, 
"""
class StepLogger():
    def __init__(self,capacity):
        self.tensor_datas = {}        
        self.capacity = capacity
        self.added_labels = []
        
    
    def add_info(self,tensor_data,tensor_label):
        if tensor_label not in self.added_labels:
            self.added_labels.append( tensor_label )
        
        if tensor_label in self.tensor_datas.keys():
            current_arr = self.tensor_datas.get(tensor_label)
            if len(current_arr) < self.capacity:
                current_arr = self.tensor_datas.get(tensor_label, [])
                current_arr.append(tensor_data)
        else:
            self.tensor_datas[tensor_label] = [tensor_data]
    
    def get_default_summary(self,show_data=False,summary_count=1):
        self.get_summary(self.added_labels,show_data)
        
    def get_summary(self,labels,show_data=False,summary_count=1):
        count = 0
        for i in range(summary_count):
            for l in labels:
                label_data = self.tensor_datas.get(l)[count]
                print(l," :")
                if torch.is_tensor(label_data):
                    print( list(label_data.size() ) )
                if not show_data and not torch.is_tensor(label_data):
                    print(label_data)
                if show_data:    
                    print(label_data)

In [37]:
def train_model_regr(model, epochs=10, lr=0.001):
    parameters = filter(lambda p: p.requires_grad, model.parameters())
    optimizer = torch.optim.Adam(parameters, lr=lr)
    for i in range(epochs):
        model.train()
        sum_loss = 0.0
        total = 0
        for x, y, l in train_dl:
            x = x.long()
            y = y.float()
            step_logger.add_info(x,"train x")
            step_logger.add_info(y,"train y")
            y_pred = model(x, l)
            step_logger.add_info(y_pred,"train y_pred")
            
            optimizer.zero_grad()
            loss = F.mse_loss(y_pred, y.unsqueeze(-1))
            loss.backward()
            optimizer.step()
            sum_loss += loss.item()*y.shape[0]
            total += y.shape[0]
        val_loss = validation_metrics_regr(model, val_dl)
        if i % 5 == 1:
            print("train mse %.3f val rmse %.3f" % (sum_loss/total, val_loss))

def validation_metrics_regr (model, valid_dl):
    model.eval()
    correct = 0
    total = 0
    sum_loss = 0.0
    for x, y, l in valid_dl:
        x = x.long()
        y = y.float()
        y_hat = model(x, l)
        loss = np.sqrt(F.mse_loss(y_hat, y.unsqueeze(-1)).item())
        total += y.shape[0]
        sum_loss += loss.item()*y.shape[0]
    return sum_loss/total

In [38]:
class LSTM_regr(torch.nn.Module) :
    def __init__(self, vocab_size, embedding_dim, hidden_dim) :
        super().__init__()
        self.embeddings = nn.Embedding(vocab_size, embedding_dim, padding_idx=0)
        self.lstm = nn.LSTM(embedding_dim, hidden_dim, batch_first=True)
        self.linear = nn.Linear(hidden_dim, 1)
        self.dropout = nn.Dropout(0.2)
        
    def forward(self, x, l):
        step_logger.add_info(x,"forward x")
        step_logger.add_info(l,"forward l")
        embedded = self.embeddings(x)
        step_logger.add_info(embedded,"forward embedded")
        dropped = self.dropout(embedded)
        step_logger.add_info(dropped,"forward dropped")
        lstm_out, (ht, ct) = self.lstm(dropped)
        step_logger.add_info(lstm_out,"forward lstm_out")
        step_logger.add_info(ht,"forward ht")
        step_logger.add_info(ct,"forward ct")
        step_logger.add_info(ht[-1],"forward ht[-1]")
        
        return self.linear(ht[-1])

In [39]:
model

LSTM_regr(
  (embeddings): Embedding(8265, 50, padding_idx=0)
  (lstm): LSTM(50, 50, batch_first=True)
  (linear): Linear(in_features=50, out_features=1, bias=True)
  (dropout): Dropout(p=0.2)
)

In [42]:
step_logger =  StepLogger(2)
model =  LSTM_regr(vocab_size, 50, 50)

In [43]:
train_model_regr(model, epochs=10, lr=0.05)

train mse 1.534 val rmse 1.214
train mse 1.208 val rmse 1.132

In [44]:
step_logger.get_default_summary(False)

train x  :
[5000, 70]
train y  :
[5000]
forward x  :
[5000, 70]
forward l  :
[5000]
forward embedded  :
[5000, 70, 50]
forward dropped  :
[5000, 70, 50]
forward lstm_out  :
[5000, 70, 50]
forward ht  :
[1, 5000, 50]
forward ct  :
[1, 5000, 50]
forward ht[-1]  :
[5000, 50]
train y_pred  :
[5000, 1]

In [45]:
step_logger.get_default_summary(True)

train x  :
[5000, 70]
tensor([[3050,  537,   11,  ...,    0,    0,    0],
        [  92,   16,    2,  ...,   33,    2,    7],
        [ 114, 1122,  111,  ..., 1244,   21,   37],
        ...,
        [ 574,   71,  237,  ...,   74,   58,   19],
        [   2,    0,    0,  ...,    0,    0,    0],
        [  10,   71,  248,  ...,   29,   30,  305]])
train y  :
[5000]
tensor([0., 3., 4.,  ..., 4., 1., 2.])
forward x  :
[5000, 70]
tensor([[3050,  537,   11,  ...,    0,    0,    0],
        [  92,   16,    2,  ...,   33,    2,    7],
        [ 114, 1122,  111,  ..., 1244,   21,   37],
        ...,
        [ 574,   71,  237,  ...,   74,   58,   19],
        [   2,    0,    0,  ...,    0,    0,    0],
        [  10,   71,  248,  ...,   29,   30,  305]])
forward l  :
[5000]
tensor([30, 70, 70,  ..., 70,  1, 70])
forward embedded  :
[5000, 70, 50]
tensor([[[ 1.0936,  0.8604,  0.1514,  ..., -1.6385, -0.6484,  0.4473],
         [-1.2094, -1.1021, -0.7117,  ..., -2.4438,  0.1369, -0.3387],
         [-0.4912, -0.2215,  0.2596,  ..., -0.6591, -1.9737,  0.8372],
         ...,
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000]],

        [[-0.8493, -0.7548, -1.3924,  ..., -0.8744, -0.6974, -1.3798],
         [-0.1183,  0.2292, -0.8668,  ...,  2.0995, -0.4579,  1.5480],
         [-1.0861,  0.9622,  0.8472,  ...,  0.1853,  0.6524, -0.0806],
         ...,
         [-1.4422,  1.2661, -0.9445,  ...,  1.0175, -0.3240, -0.4772],
         [-1.0861,  0.9622,  0.8472,  ...,  0.1853,  0.6524, -0.0806],
         [ 0.3629,  0.3803, -1.7793,  ...,  0.2161,  0.8156,  1.8885]],

        [[-0.7416,  0.0559, -0.1076,  ...,  0.9928, -0.1549,  1.0514],
         [-1.9659,  0.8278,  0.5167,  ..., -0.3234, -0.3552, -1.2384],
         [ 1.1499, -0.6121, -1.9948,  ..., -1.0953, -2.0748,  0.0193],
         ...,
         [ 0.1283,  0.3111, -0.1671,  ..., -0.5760,  0.1762,  1.0168],
         [ 0.3883, -0.6493, -0.0840,  ...,  0.9340,  1.1723,  0.0135],
         [-0.4093,  0.6537,  0.9022,  ..., -0.0025, -1.1822,  0.9755]],

        ...,

        [[-0.2761,  0.0431,  0.2337,  ...,  1.5577,  2.0163,  0.1300],
         [-0.5296,  0.0210, -0.2241,  ..., -0.9581, -0.6160,  0.0769],
         [-0.0825,  1.0165, -0.5159,  ..., -0.0643,  0.1088, -0.2697],
         ...,
         [-0.4897, -0.3377,  0.5326,  ...,  1.4396, -0.0704, -0.0482],
         [ 0.2006,  0.8535, -0.9284,  ...,  0.4902,  0.0205,  0.1836],
         [-0.1270,  0.6196,  1.3296,  ..., -0.3334,  0.9382, -0.7307]],

        [[-1.0861,  0.9622,  0.8472,  ...,  0.1853,  0.6524, -0.0806],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         ...,
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000]],

        [[-0.6676, -0.5115,  1.1281,  ..., -2.1402, -0.8254,  1.6265],
         [-0.5296,  0.0210, -0.2241,  ..., -0.9581, -0.6160,  0.0769],
         [-0.4262, -0.4096,  0.2669,  ...,  1.0186,  0.2237, -0.6238],
         ...,
         [ 0.6016,  1.3091, -0.4108,  ..., -1.1431,  2.1146, -2.1457],
         [-2.0167, -1.4485, -0.6928,  ...,  0.3970, -0.8841, -0.0633],
         [-0.5932,  1.6260, -1.9211,  ...,  0.5755,  0.2988,  0.6638]]],
       grad_fn=<EmbeddingBackward>)
forward dropped  :
[5000, 70, 50]
tensor([[[ 0.0000,  1.0755,  0.1892,  ..., -2.0481, -0.8105,  0.5591],
         [-0.0000, -1.3776, -0.8897,  ..., -3.0547,  0.1712, -0.4233],
         [-0.6141, -0.0000,  0.0000,  ..., -0.8238, -2.4671,  1.0465],
         ...,
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000]],

        [[-1.0616, -0.9435, -1.7405,  ..., -1.0930, -0.8718, -1.7248],
         [-0.0000,  0.2865, -1.0835,  ...,  2.6244, -0.0000,  0.0000],
         [-1.3577,  1.2027,  1.0590,  ...,  0.2317,  0.0000, -0.1008],
         ...,
         [-1.8028,  0.0000, -1.1806,  ...,  0.0000, -0.0000, -0.5965],
         [-1.3577,  1.2027,  1.0590,  ...,  0.2317,  0.8156, -0.1008],
         [ 0.4537,  0.0000, -2.2241,  ...,  0.2702,  0.0000,  2.3607]],

        [[-0.9271,  0.0699, -0.1345,  ...,  1.2410, -0.1936,  1.3142],
         [-2.4574,  1.0347,  0.6458,  ..., -0.0000, -0.4440, -1.5481],
         [ 1.4374, -0.7651, -2.4935,  ..., -0.0000, -2.5935,  0.0242],
         ...,
         [ 0.1604,  0.3888, -0.2088,  ..., -0.7200,  0.2203,  1.2710],
         [ 0.4854, -0.8116, -0.1050,  ...,  1.1675,  0.0000,  0.0169],
         [-0.0000,  0.8172,  1.1278,  ..., -0.0032, -1.4778,  1.2194]],

        ...,

        [[-0.0000,  0.0539,  0.2921,  ...,  1.9472,  0.0000,  0.1625],
         [-0.6620,  0.0000, -0.0000,  ..., -1.1976, -0.0000,  0.0962],
         [-0.1032,  1.2707, -0.6449,  ..., -0.0000,  0.1359, -0.3371],
         ...,
         [-0.0000, -0.4222,  0.6658,  ...,  1.7995, -0.0880, -0.0602],
         [ 0.2507,  1.0668, -1.1605,  ...,  0.6127,  0.0256,  0.2295],
         [-0.1588,  0.7745,  1.6620,  ..., -0.4168,  1.1728, -0.9133]],

        [[-0.0000,  0.0000,  1.0590,  ...,  0.2317,  0.8156, -0.1008],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         ...,
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
         [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000]],

        [[-0.8345, -0.0000,  0.0000,  ..., -2.6753, -1.0318,  2.0331],
         [-0.6620,  0.0000, -0.0000,  ..., -1.1976, -0.7700,  0.0962],
         [-0.5327, -0.0000,  0.3336,  ...,  0.0000,  0.2796, -0.0000],
         ...,
         [ 0.7520,  0.0000, -0.5135,  ..., -1.4289,  0.0000, -2.6822],
         [-2.5208, -1.8106, -0.8660,  ...,  0.0000, -0.0000, -0.0791],
         [-0.7415,  2.0325, -2.4013,  ...,  0.0000,  0.3734,  0.8297]]],
       grad_fn=<MulBackward0>)
forward lstm_out  :
[5000, 70, 50]
tensor([[[-0.1097,  0.2229,  0.0610,  ..., -0.0144,  0.0388, -0.1143],
         [-0.0324,  0.1854,  0.1566,  ..., -0.2114,  0.0909, -0.2495],
         [ 0.0625,  0.1851,  0.1461,  ..., -0.1754,  0.0892, -0.0931],
         ...,
         [ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549],
         [ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549],
         [ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549]],

        [[-0.0165,  0.1210,  0.1636,  ..., -0.1632,  0.1312,  0.0822],
         [ 0.0669,  0.0637,  0.0348,  ...,  0.0990, -0.0760,  0.0530],
         [-0.2522,  0.1767, -0.0855,  ...,  0.0845,  0.2661,  0.0192],
         ...,
         [ 0.1747, -0.0653,  0.0009,  ...,  0.0385,  0.0469,  0.1657],
         [-0.0807, -0.0134, -0.1579,  ...,  0.1130,  0.1098,  0.1348],
         [-0.0138,  0.0106, -0.0176,  ..., -0.2013,  0.0162, -0.0215]],

        [[ 0.1999,  0.0059, -0.1331,  ...,  0.1371, -0.0955,  0.0755],
         [ 0.0220, -0.1622, -0.1693,  ..., -0.0816, -0.1659,  0.2322],
         [ 0.1942,  0.0214, -0.0853,  ..., -0.2351, -0.2675,  0.2122],
         ...,
         [ 0.0138,  0.2883, -0.0562,  ..., -0.1753,  0.2276, -0.0756],
         [-0.0712,  0.2489, -0.0336,  ..., -0.1032,  0.2105, -0.1658],
         [ 0.0700, -0.0592,  0.1221,  ...,  0.1308,  0.0683,  0.1984]],

        ...,

        [[-0.1147, -0.0807,  0.1361,  ...,  0.1801, -0.0322,  0.2557],
         [ 0.0886,  0.1054,  0.1162,  ..., -0.0810, -0.1135,  0.2085],
         [-0.0800,  0.2095,  0.0877,  ..., -0.1976, -0.1936, -0.1008],
         ...,
         [-0.2158,  0.0702, -0.0791,  ...,  0.1499,  0.1236, -0.0238],
         [-0.0777, -0.0790, -0.0861,  ...,  0.0096,  0.1015,  0.1594],
         [-0.1696,  0.0093,  0.0341,  ...,  0.0076,  0.3021,  0.1074]],

        [[-0.2444,  0.1643, -0.0428,  ...,  0.0496,  0.1352, -0.0596],
         [-0.0749,  0.0825,  0.0070,  ..., -0.0008,  0.0572,  0.0075],
         [-0.0342,  0.0109,  0.0250,  ..., -0.0205,  0.0307,  0.0350],
         ...,
         [ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549],
         [ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549],
         [ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549]],

        [[-0.0361,  0.0574,  0.0486,  ..., -0.1450,  0.0995,  0.0819],
         [ 0.0787,  0.2451,  0.0221,  ..., -0.2922, -0.1046,  0.1053],
         [ 0.2194,  0.0790, -0.0658,  ..., -0.3369, -0.0506, -0.0633],
         ...,
         [-0.2012, -0.2071, -0.1472,  ..., -0.2038,  0.1485, -0.1231],
         [-0.0204,  0.2228, -0.2911,  ..., -0.3073, -0.2255, -0.0826],
         [ 0.0118,  0.1716, -0.1856,  ..., -0.2705, -0.0119, -0.0454]]],
       grad_fn=<TransposeBackward0>)
forward ht  :
[1, 5000, 50]
tensor([[[ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549],
         [-0.0138,  0.0106, -0.0176,  ..., -0.2013,  0.0162, -0.0215],
         [ 0.0700, -0.0592,  0.1221,  ...,  0.1308,  0.0683,  0.1984],
         ...,
         [-0.1696,  0.0093,  0.0341,  ...,  0.0076,  0.3021,  0.1074],
         [ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549],
         [ 0.0118,  0.1716, -0.1856,  ..., -0.2705, -0.0119, -0.0454]]],
       grad_fn=<StackBackward>)
forward ct  :
[1, 5000, 50]
tensor([[[ 0.0579, -0.1553,  0.0433,  ..., -0.0749,  0.0362,  0.1083],
         [-0.0190,  0.0160, -0.0247,  ..., -0.3237,  0.0715, -0.0332],
         [ 0.1276, -0.2615,  0.2106,  ...,  0.3389,  0.1828,  0.3817],
         ...,
         [-0.4722,  0.0175,  0.0588,  ...,  0.0114,  0.6195,  0.2331],
         [ 0.0579, -0.1553,  0.0433,  ..., -0.0749,  0.0362,  0.1083],
         [ 0.0252,  0.4469, -0.3840,  ..., -0.4903, -0.0199, -0.0972]]],
       grad_fn=<StackBackward>)
forward ht[-1]  :
[5000, 50]
tensor([[ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549],
        [-0.0138,  0.0106, -0.0176,  ..., -0.2013,  0.0162, -0.0215],
        [ 0.0700, -0.0592,  0.1221,  ...,  0.1308,  0.0683,  0.1984],
        ...,
        [-0.1696,  0.0093,  0.0341,  ...,  0.0076,  0.3021,  0.1074],
        [ 0.0292, -0.0780,  0.0215,  ..., -0.0380,  0.0179,  0.0549],
        [ 0.0118,  0.1716, -0.1856,  ..., -0.2705, -0.0119, -0.0454]],
       grad_fn=<SelectBackward>)
train y_pred  :
[5000, 1]
tensor([[0.1368],
        [0.2358],
        [0.0897],
        ...,
        [0.1207],
        [0.1368],
        [0.2656]], grad_fn=<AddmmBackward>)